.Team {
  & .title {
    text-align: center;

    & h2 {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }
  }

  & .TeamList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 3rem 2.2rem;
  }
}
