.registrations_description {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 140%;
  margin: 0.5rem 0 0;
}

.registrations_subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 140%;
  font-style: italic;
}