.Header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 1rem;

  & a, & h1 a {
    color: var(--black) !important;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;

    &.selected {
      font-weight: bold;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  & h1 {
    margin: 0;
    padding: 0;
    display: flex;

    & a {
      font-size: 1.25rem;
      padding: 0;
      margin: 0;
    }
  }

  .Header__right {
    a + a {
      margin-left: 0.5rem;
    }
  }
}

@media all and (min-width: 1060px) {
  .Header {
    flex-direction: row;

    & a, & h1 a {
      margin: 0;
      padding: 0 0.4rem;
      font-size: 1rem;
    }

    & h1 {
      & a {
        font-size: 1.25rem;
        padding-right: 2rem;
        padding-left: 1rem;
      }
    }

    .Header__left, .Header__right {
      display: flex;
      align-items: center;
    }

    .Header__right {
      margin-left: -260px;
      flex: auto;
      justify-content: center;

      a + a {
        margin: 0;
      }
    }

  }
}